<h2><%= t('.title', resource: resource.model_name.human) %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-floating mb-3">
    <%= f.text_field :name, class: "form-control", placeholder: :name, autofocus: true, autocomplete: "name" %>
    <%= f.label :name %>
    <i>(半角英数字とアンダーバーで入力)</i>
  </div>
  <div class="form-floating mb-3">
    <%= f.email_field :email, class: "form-control", placeholder: :email, autofocus: true, autocomplete: "email" %>
    <%= f.label :email %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>
  <div class="mb-3">
    <a class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      パスワードの変更
    </a>
    <div class="collapse" id="collapseExample">
      <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i>
      <div class="form-floating mb-3">
        <%= f.password_field :password, class: "form-control", placeholder: "新規パスワード", autocomplete: "new-password" %>
        <%= f.label "新規パスワード" %>
        <% if @minimum_password_length %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
      </div>
      <div class="form-floating mb-3">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: :password_confirmation, autocomplete: "new-password" %>
        <%= f.label "新規パスワード(確認)" %>
      </div>
    </div>
  </div>
  <div class="form-floating mb-3">
    <%= f.password_field :current_password, class: "form-control", placeholder: :current_password, autocomplete: "current-password" %>
    <%= f.label :current_password %>
  </div>
  <div class="actions mb-5 d-flex justify-content-evenly">
    <%= f.submit t('.update'), id: "update-account", class: "btn btn-primary" %>
    <%= link_to t('devise.shared.links.back'), :back, class: "btn btn-secondary" %>
  </div>
<% end %>
<hr>
<div class="dropdown d-flex justify-content-center">
  <%= link_to "アカウント削除", registration_path(resource_name), data: { confirm: "アカウントを削除すると投稿した内容も全て削除されますがよろしいですか？" }, method: :delete, class: "btn btn-outline-danger" %>
</div>
