<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><span>半角英数字と_で入力してください</span><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :portrait %>
    <%= f.file_field :portrait %>
  </div>

  <div class="form-group">
    <%= f.label :region %>
    <%= f.select :region, Post.regions.keys.map { |k| [k, k] }, {include_blank: true} %>
  </div>

  <div class="field">
    <%= f.label :self_introduction %><br />
    <%= f.text_area :self_introduction, autofocus: true, autocomplete: "nickname" %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up'), id: "create-account" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
