<%= form_with(model: post, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="form-group">
    <%= f.label :genre %>
    <%= f.select :genre, Post.genres.keys.map { |k| [k, k] }, {include_blank: true} %>
  </div>
  <div class="form-group">
    <%= f.label :region %>
    <%= f.select :region, Post.regions.keys.map { |k| [k, k] }, {include_blank: true} %>
  </div>
  <div class="form-group">
    <%= f.label :prefecture %>
    <%= f.select :prefecture, Post.prefectures.keys.map { |k| [k, k] }, {include_blank: true} %>
  </div>
  <div class="form-group">
    <%= f.label :place %>
    <%= f.text_field :place %>
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>
  <div class="form-group">
    <%= f.label :picture %>
    Active Storageで写真投稿機能追加する
  </div>
  <div class="form-group">
    <%= f.label :tag %>
    <% current_account.tags.each do |tag| %>
      <%= f.check_box :tag_ids, { multiple: true, include_hidden: false }, tag[:id] %>
      <%= f.label :tag_ids, tag.name, value: tag[:id] %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit id: action, class: 'btn btn-primary' %>
  </div>
<% end %>
<div>
  <input id="address" type="textbox" placeholder="場所を入力してください">
  <input type="button" value="検索" onclick="codeAddress()">
  <input type="button" value="現在地" id="current_location">
</div>
<div class="map">
  <div id="map">
  </div>
</div>