<section id="timeline">
  <% posts.each do |post| %>
    <hr>
    <div class="post">
      <div class="post_map">
        <img 
          src="https://maps.googleapis.com/maps/api/staticmap?center=<%= post.latitude %>,<%= post.longitude %>&zoom=16&size=400x300&markers=color:red|<%= post.latitude %>,<%= post.longitude %>&key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>">
      </div>
      <div class="post_photos">
        <% if post.photos.attached? %>
          <% post.photos.each do |photo| %>
            <%= image_tag photo.variant(resize_to_limit: [400, 300]) %>
          <% end %>
        <% end %>
      </div>
      <div class="post_content">
        <h2><%= post.title %></h2>
        <div>
          <p><%= time_ago_in_words(post.created_at) %></p>
          <p><%= image_tag post.account.portrait.variant(resize_to_limit: [100, 100]) if post.account.portrait.attached? %></p>
          <p><%= post.account.nickname %></p>
          (<%= link_to "@#{post.account.name}", account_path(post.account.id), class: "account-#{post.account.id}" %>)

        </div>
        <div>
          <p><%= post.genre %></p>
          <p><%= post.region %></p>
          <% if post.prefecture.present? %>
            <p><%= post.prefecture %></p>
          <% end %>
        </div>
        <div>
          <%= post.description %>
        </div>
        <div id="favorite-<%= post.id %>">
          <%= render partial: "posts/favorite", locals: { post: post } %>
        </div>
      </div>
      <div>
        <%= link_to t('common.show'), post_path(post.id), class: 'show-post' %>
        <% if post.account_id == current_account.id %>
            <%= link_to t('common.edit'), edit_post_path(post.id), class: 'edit-post' %>
            <%= link_to t('common.destroy'), post_path(post.id), method: :delete, data: {confirm: t('common.confirm_destroy')}, class: 'destroy-post' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @posts %>
</section>