<div id="timeline" class='row row-cols-1 row-cols-md-2 g-4'>
  <% posts.each do |post| %>
    <div id="post-<%= post.id %>" class="col">
      <div class="post card shadow-sm">
        <h3 class="card-header fs-5"><%= post.title %></h3>
        <div id="carousel-post-<%= post.id %>" class="post_map carousel slide card-img-top">
          <% if post.photos.attached? %>
            <div class="carousel-indicators rounded-pill bg-dark bg-opacity-25">
              <button type="button" data-bs-target="#carousel-post<%= post.id %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <% for i in 1..post.photos.size %>
                <button type="button" data-bs-target="#carousel-post<%= post.id %>" data-bs-slide-to="<%= i %>" aria-label="Slide <%= i+1 %>"></button>
              <% end %>
            </div>
          <% end %>
          <div class="carousel-inner">
            <% if post.photos.attached? %>
              <% post.photos.each_with_index do |photo, i| %>
                <% if i == 0 %>
                  <div class="carousel-item active">
                    <%= image_tag photo.variant(resize_to_limit: [400, 300]), class: "d-block w-100" %>
                  </div>
                <% else%>
                  <div class="carousel-item">
                    <%= image_tag photo.variant(resize_to_limit: [400, 300]), class: "d-block w-100" %>
                  </div>
                <% end %>
              <% end %>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= post.latitude %>,<%= post.longitude %>&zoom=16&size=400x300&markers=color:red|<%= post.latitude %>,<%= post.longitude %>&key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>">
              </div>
            <% else %>
              <div class="carousel-item active">
                <img class="d-block w-100" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= post.latitude %>,<%= post.longitude %>&zoom=16&size=400x300&markers=color:red|<%= post.latitude %>,<%= post.longitude %>&key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>">
              </div>
            <% end %>
          </div>
          <% if post.photos.attached? %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-post-<%= post.id %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon bg-dark rounded-start-pill" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-post-<%= post.id %>" data-bs-slide="next">
              <span class="carousel-control-next-icon bg-dark rounded-end-pill" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          <% end %>
        </div>
        <div class="post_content card-body px-4">
          <div class="d-flex align-items-end justify-content-between mb-2">
            <div>
              <span>
                <% if post.account.portrait.attached? %>
                  <%= image_tag post.account.portrait.variant(resize_to_limit: [40, 40]), class: "timeline-portrait rounded-circle" %>
                <% else %>
                  <i class="bi bi-person-circle fs-2"></i>
                <% end %>
              </span>
              <span class="fs-5"><%= post.account.nickname %></span>
              (<%= link_to "@#{post.account.name}", account_path(post.account.id), class: "account-#{post.account.id}" %>)
            </div>
            <small class="text-body-secondary"><%= time_ago_in_words(post.created_at) %></small>
          </div>
          <div class="mb-3">
            <span class="badge bg-primary"><%= post.genre %></span>
            <span class="badge bg-primary"><%= post.region %></span>
            <% if post.prefecture.present? %>
              <span class="badge bg-primary"><%= post.prefecture %></span>
            <% end %>
          </div>
          <div class="post-group position-relative">
            <div class='mb-5 post-description'>
              <p><%= post.description %></p>
            </div>
            <div class="position-absolute top-100 start-50 translate-middle h-75 w-100 wrap-rgba-white">
            </div>
            <div class="d-grid col-6 position-absolute top-100 start-50 translate-middle">
              <%= link_to t('common.show'), post_path(post.id), class: 'show-post btn btn-primary', role: 'button' %>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div id="favorite-<%= post.id %>">
              <%= render partial: "posts/favorite", locals: { post: post } %>
            </div>
            <div class="btn-group">
              <% if post.account_id == current_account.id %>
                <%= link_to t('common.destroy'), post_path(post.id), method: :delete, data: {confirm: t('common.confirm_destroy')}, class: 'destroy-post btn btn-sm btn-outline-danger' %>
                <%= link_to t('common.edit'), edit_post_path(post.id), class: 'edit-post btn btn-sm btn-outline-secondary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center mt-3">
  <%= paginate @posts, theme: 'bootstrap-5' %>
</div>