<h1><%= t('.title') %></h1>
<section id="timeline">
  <% @posts.each do |post| %>
    <hr>
    <div class="post">
      <div class="post_map">
        <img 
          src="https://maps.googleapis.com/maps/api/staticmap?center=<%= post.latitude %>,<%= post.longitude %>&zoom=16&size=400x400&markers=color:red|<%= post.latitude %>,<%= post.longitude %>&key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>">
      </div>
      <div class="post_content">
        <h2><%= post.title %></h2>
        <div>
          <p><%= time_ago_in_words(post.created_at) %></p>
          <p><%= post.account.nickname %></p>
          <p>(@<%= post.account.name %>)</p>
        </div>
        <div>
          <p><%= post.genre %></p>
          <p><%= post.region %></p>
          <% if post.prefecture.present? %>
            <p><%= post.prefecture %></p>
          <% end %>
        </div>
        <div id="favorite-<%= post.id %>">
          <%= render partial: "favorite", locals: { post: post } %>
        </div>
      </div>
      <div>
        <%= link_to t('common.show'), post_path(post.id), class: 'show-post' %>
        <% if post.account_id == current_account.id %>
            <%= link_to t('common.edit'), edit_post_path(post.id), class: 'edit-post' %>
            <%= link_to t('common.destroy'), post_path(post.id), method: :delete, data: {confirm: t('common.confirm_destroy')}, class: 'destroy-post' %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>