<h1><%= t('.title') %></h1>
<div>
  <div>
    <h2><%= @post.title %></h2>
  </div>
  <div>
    <iframe 
      width="450"
      height="250"
      frameborder="0" style="border:0"
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&q=place_id:<%= @post.place %>&center=<%= @post.latitude %>,<%= @post.longitude %>&zoom=15"
      allowfullscreen>
    </iframe>
  </div>
  <div>
    <p><%= @post.genre %></p>
    <p><%= @post.region %></p>
    <p><%= @post.prefecture %></p>
  </div>
  <div>
    <p><%=  time_ago_in_words(@post.created_at) %></p>
  </div>
  <div>
    <p><%= @post.account.nickname %></p>
    <p>(<%= link_to "@#{@post.account.name}", account_path(@post.account.id), class: "account-#{@post.account.id}" %>)</p>
  </div>
  <div id="favorite-<%= @post.id %>">
    <%= render partial: "posts/favorite", locals: { post: @post } %>
  </div>
  <div>
    <p><%= @post.description %></p>
  </div>
</div>
<% if current_account.id == @post.account.id%>
  <div>
    <%= link_to t('common.destroy'), post_path(@post.id), method: :delete, data: { confirm: t('common.confirm_destroy') }, id: 'destroy-post' %>
    <%= link_to t('common.edit'), edit_post_path(@post.id), method: :get, id: 'edit-post' %>
  </div>
<% end %>