<h1><%= t('.title') %></h1>
<div>
  <h2><%= @post.title %></h2>
</div>
<div class="d-flex justify-content-between mb-2">
  <div>
    <span class="badge bg-primary"><%= @post.genre %></span>
    <span class="badge bg-primary"><%= @post.region %></span>
    <span class="badge bg-primary"><%= @post.prefecture %></span>
  </div>
  <div>
    <small class="text-body-secondary"><%=  time_ago_in_words(@post.created_at) %></small>
  </div>
</div>
<div class="d-flex justify-content-between align-items-end mb-3">
  <div>
    <span>
      <% if @post.account.portrait.attached? %>
        <%= image_tag @post.account.portrait.variant(resize_to_limit: [40, 40]), class: "timeline-portrait rounded-circle" %>
      <% else %>
        <i class="bi bi-person-circle fs-2"></i>
      <% end %>
    </span>
    <span class="fs-5"><%= @post.account.nickname %></span>
    (<%= link_to "@#{@post.account.name}", account_path(@post.account.id), class: "account-#{@post.account.id}" %>)
  </div>
  <div id="favorite-<%= @post.id %>">
    <%= render partial: "posts/favorite", locals: { post: @post } %>
  </div>
</div>
<di class="mb-3 row g-2">
  <% if @post.photos.attached? %>
    <% @post.photos.each do |photo| %>
      <%= image_tag photo.variant(resize_to_limit: [400, 300]), class: "col-sm-6" %>
    <% end %>
  <% end %>
</div>
<div class="mb-3 post-description">
  <%= @post.description %>
</div>
<div class="map mb-1">
  <iframe 
      frameborder="0" style="border:0"
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&q=place_id:<%= @post.place %>&center=<%= @post.latitude %>,<%= @post.longitude %>&zoom=15"
      allowfullscreen>
  </iframe>
</div>
<div class="d-flex justify-content-evenly">
  <% if current_account.id == @post.account.id%>
    <%= link_to t('common.destroy'), post_path(@post.id), method: :delete, data: { confirm: t('common.confirm_destroy') }, id: 'destroy-post', class: 'btn btn-outline-danger' %>
    <%= link_to t('common.edit'), edit_post_path(@post.id), method: :get, id: 'edit-post', class: 'btn btn-outline-primary' %>
  <% end %>
  <%= link_to t('common.back'), posts_path, method: :get, id: 'back', class: 'btn btn-secondary' %>
</div>