<!DOCTYPE html>
<html>
  <head>
    <title>YaehMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <% if account_signed_in? %>
        <%= link_to "アカウント", account_path(current_account.id) %>
        <%= link_to "情報一覧", posts_path, id: "post-index" %>
        <%= link_to "情報を投稿する", new_post_path, id: "create-post" %>
        <%= link_to "タグ一覧", '#' %>
        <%= link_to "ログアウト", destroy_account_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_account_registration_path %>
        <%= link_to "ログイン", new_account_session_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
