<!DOCTYPE html>
<html>
  <head>
    <title>YaehMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if account_signed_in? %>
      <%= link_to "アカウント", account_path(current_user.id) %>
      <%= link_to "情報一覧", '#' %>
      <%= link_to "タグ一覧", '#' %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_account_registration_path %>
      <%= link_to "ログイン", new_account_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
