<!DOCTYPE html>
<html>
  <head>
    <title>YaehMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-secondary fixed-top mb-5">
        <div class="container">
          <% if account_signed_in? %>
            <%= link_to "Yaeh Map", posts_path, class: "navbar-brand"%>
          <% else %>
            <%= link_to "Yaeh Map", root_path, class: "navbar-brand"%>
          <% end %>
          <button class="navbar-toggler ms-auto collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse bg-body-secondary" id="navbarCollapse">
            <ul class="navbar-nav navbar-nav-scroll px-3 container">
              <% if account_signed_in? %>
                <li class="nav-item">
                  <%= link_to "アカウント", account_path(current_account.id), id: 'account-detail', class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "情報一覧", posts_path, id: 'post-index', class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "情報を投稿する", new_post_path, id: 'new-post', class: 'nav-link' %>
                </li>
                <% if current_account.admin? %>
                  <li class="nav-item">
                    <%= link_to "管理者用", rails_admin_path, id: 'admin-index', class: 'nav-link' %>
                  </li>
                <% end %>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_account_session_path, method: :delete, id: 'sign-out', class: 'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_account_registration_path, id: 'sign-up', class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_account_session_path, id: 'sign-in', class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
          </div>
          <% if current_page?(posts_path) %>
            <div class="nav-item dropdown nav-search px-3">
              <a class="nav-link" role="button" href="#" id="navSearch" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-search fs-4"> </i>
              </a>
              <div class="dropdown-menu dropdown-menu-end navbar-nav-scroll shadow rounded p-2" aria-labelledby="navSearch">
                <%= search_form_for @q do |f| %>
                  <div class="mb-3">
                    <%= f.label :title_or_description_cont, 'キーワード', class: "form-label" %>
                    <%= f.search_field :title_or_description_cont, class: "form-control" %>
                  </div>
                  <div class="mb-3">
                    <%= f.label :region_eq, '地域' %>
                    <%= f.select :region_eq, options_for_select(Region.regions), {include_blank: true}, {class: "form-select"} %>
                  </div>
                  <div class="mb-3">
                    <div>都道府県</div>
                    <% Prefecture.prefectures.each do |prefecture| %>
                      <div class="form-check form-check-inline">
                        <%= f.check_box :prefecture_eq_any, {multiple: true, include_hidden: false, class: "form-check-input"}, prefecture[1] %>
                        <%= f.label prefecture[0], class: "form-check-label" %>
                      </div>
                    <% end %>
                  </div>
                  <div class="mb-3">
                    <div><%= f.label :genre %></div>
                    <% Post.genres.each do |genre| %>
                      <div class="form-check form-check-inline">
                        <%= f.check_box :genre_eq_any, {multiple: true, include_hidden: false, class: "form-check-input"}, genre[1] %>
                        <%= f.label genre[0], class: "form-check-label" %>
                      </div>
                    <% end %>
                  </div>
                  <div class="d-flex justify-content-start">
                    <%= f.submit class: "btn btn-secondary" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <div id="notification">
      <% flash.each do |key, value| %>
        <% if key == "notice" %>
          <%= content_tag(:div, value, id: "notice", class: "alert alert-success #{key}", role: 'alert') %>
        <% elsif key == "danger" || "alert" %>
          <%= content_tag(:div, value, id: "notice", class: "alert alert-danger #{key}", role: 'alert') %>
        <% end %>
      <% end %>
    </div>
    <main>
      <%= yield %>
    </main>
    <div class="container">
      <footer class="py-3 my-4 border-top">
        <p class="text-center text-body-secondary">
          &copy; Mottttton
        </p>
      </footer>
    </div>
  </body>
</html>
