<h1><%= t('.title') %></h1>
<%= form_with(model: @account, local: true) do |f| %>
  <div class="form-group mb-3">
    <div>
      <% if @account.portrait.attached? %>
        <%= image_tag @account.portrait.variant(resize_to_limit: [200, 200]), class: "profile-portrait rounded-circle" %>
      <% else %>
        <i class="bi bi-person-circle fs-1"></i>
      <% end %>
    </div>
    <%= f.label :portrait %>
    <div class="input-group form-file">
      <%= f.file_field :portrait, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :nickname, class: "form-control", placeholder: :nickname %>
    <%= f.label :nickname %>
  </div>
  <div class="form-floating mb-3">
    <%= f.select :region, Post.regions.keys.map { |k| [k, k] }, {include_blank: true}, {class: "form-select"} %>
    <%= f.label :region %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_area :self_introduction, class: "form-control", placeholder: :self_introduction, style: "height: 250px;" %>
    <%= f.label :self_introduction %>
  </div>
  <div class="actions">
    <%= f.submit id: 'update-profile', class: 'btn btn-primary' %>
  </div>
<% end %>
<hr>
<div>
  <p>アカウント名、メールアドレス、パスワードの変更はこちら</p>
  <%= link_to '変更', edit_account_registration_path, method: :get, id: "edit-account", class: 'btn btn-outline-primary' %>
</div>
