<h1><%= t('.title') %></h1>
<div>
  <%= image_tag @account.portrait.variant(resize_to_limit: [200, 200]) if @account.portrait.attached? %>
</div>
<div>
  <p><%= @account.nickname %>(@<%= @account.name %>)</p>
</div>
<div>
  <p>お住まいの地域: <%= @account.region %></p>
</div>
<div>
  <p>自己紹介</p>
  <p><%= @account.self_introduction %></p>
</div>
<% if current_account.id == @account.id  %>
  <%= link_to t('common.edit'), edit_account_path(@account.id), method: :get, id: "edit-account", class: 'btn btn-primary' %>
<% end %>
<div>
  <h2>投稿一覧</h2>
  <% if @account.posts == [] %>
    <p>まだ投稿はありません</p>
  <% else %>
    <%= render partial: "posts/timeline", locals: { posts: @posts } %>
  <% end %>
</div>